<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/customerss" routerLinkActive="active">Link to List Customers</a>
    </div>
    <div>
        <a routerLink="/driverss" routerLinkActive="active">Link to List Drivers</a>
    </div>
    <div>
        <a routerLink="/staffs" routerLinkActive="active">Link to List Staff</a>
    </div>
    <div>
        <a routerLink="/vehicless" routerLinkActive="active">Link to List Vehicles</a>
    </div>
 <!-- END LINKS -->
</div>